body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url('image/Gradient_Map_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 124px 0 135px 0;
}
.header_text{
    color: #ffffff;
    font-size: 48px;
    line-height: 58.99px;
    font-weight: 400;
    text-align: center;
}
.text1{
    padding: 30px 103px 73px 49px;
    color: #333333;
}
.text1_h1{
    font-size: 30px;
    line-height: 58.99px;
    font-weight: 400;
}
.text1_p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.span{
    font-weight: 700;
}
.first{
    margin-bottom: 33px;
}
.text2{
    padding: 0 64px 69px 48px;
}
.text2_h2{   
    color: #325d72;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px; 
}
.text2_p{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}
.text2_link{
    text-decoration: none;
}
.footer{
    background-color: #f5f5f5;
    padding: 30px 50px 80px 50px;
    border: 1px solid #dddddd;
}
.footer_text{
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 58.99px;
}
.nav_link{
    color: #4183c4;
    font-size: 14px;
    font-weight: 400;
    line-height: 58.99px;
    text-decoration: none;
    margin-right: 20px;
}
.footer_text, .navigation{
    display: inline;
}
.navigation{
    float: right;
}
